@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,900,700italic,700,500italic,500,400italic);

.well {
    background: #f8f8f8;
}

html, body {
    min-height: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background: #e6ecee;
    color: #666666;
    font-size: 14px;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

/**
 * NAVIGATION
 **/

nav {
    transition: .4s ease all;
    position: fixed;
    padding: 0 10px;
    background: #fff;
}

#wrapper.active nav {
    padding-left: 260px;
}

.navbar {
    /*min-height: 70px;*/
    /*height: 70px;*/
    padding: 0 10px 0 80px;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    border-radius: 0;
    background: #fff;
}

#navbar {
    /*min-height: 70px;*/
}

.navbar-nav {   
    margin: 5px 10px 0 0;
    padding-right: 10px;
}

.navbar-default .navbar-toggle {
    border: 0;
    margin-top: 11px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}
.side-nav-toggle {
    position: relative;
    padding: 10px;
    float: left;
    background: transparent;
    border: 1px solid transparent;
    margin: 17px 0;
    z-index: 10000;
}

.side-nav-toggle:focus {
    outline-width: 0;
}

.side-nav-toggle [class*='bar-'] {
    background: #5f6f7e;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    border-radius: 2px;
    height: 2px;
    width: 25px;
    margin-bottom: 4px;
}

.side-nav-toggle .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}
.opened .bar-mid {
    opacity: 0;
}
.opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
}

.row{
    margin-left:0;
    margin-right:0;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%;
}

#sidebar-wrapper {
    margin-left: -70px;
    left: 70px;
    width: 70px;
    background: #283339;
    position: fixed;
    height: 100%;
    overflow: hidden;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 250px;
}
#wrapper.active #sidebar-wrapper {
    left: 250px;
    margin-left: -250px;
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
}

.page-content {
    padding-top: 85px;
}

#sidebar-menu li a, .sidebar-nav li a:first-of-type {
    border-top: 0;
}

#sidebar-menu li a, .sidebar-nav li a {
    color: #a0aab2;
    display: block;
    float: left;
    text-decoration: none;
    width: 250px;
    border-top: 1px solid #334148;
    border-bottom: 1px solid #232f35;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
    line-height: 70px;
}

.sidebar-nav li a {
    color: #a0aab2;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a.active,
.sidebar-nav li a:hover {
    color: #fff;
    background: #36454e;
    border-left: 4px solid #63a8ed;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

#sidebar-menu > .sidebar-brand {
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    background: #63a8ed;
}

#sidebar-menu > .sidebar-brand a {
    color: #fff;
    border: 0;
    font-size: 24px;
    font-weight: 500;
}

#sidebar-menu > .sidebar-brand a:hover {
    color: #fff;
    background: none;
    cursor: pointer;
}

#sidebar-menu > .sidebar-brand .sidebar-icon {
    width: 70px;
}

#sidebar-menu > .sidebar-brand .sidebar-icon img {
    width: 40px;
}

.sidebar-nav li a.active > .sidebar-icon,
.sidebar-nav li a:hover > .sidebar-icon{
    width: 66px;
}

.sidebar-icon {
    display: inline-block;
    text-align: center;
    width: 70px;
}

.sidebar-icon i {
    height: 35px;
    vertical-align: middle;
}

#main_icon {
    float:right;
    padding-right: 65px;
    padding-top:20px;
}
.sub_icon {
    float:right;
    padding-right: 65px;
    padding-top:10px;
}
.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

.notification-badge {
    background: #d9534f;
    display: inline-block;
    top: 9px;
    left: 7px;
    font-size: 11px;
    position: absolute;
    border-radius: 16px;
    padding: 3px 7px;
    color: #fff;
    line-height: 1.3;
    border: 2px solid #fff;
}

.nav-popup-toggle i {
    padding: 15px;
}

.navbar-nav .open .dropdown-menu {
    position: fixed;
    background: #fff;
}

.nav-popup {
    top: 80px;
    background: white;
    position: fixed;
    right: 0;
    display: none;
    width: 300px;
    margin: 15px;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgba(0,0,0,.175);
    border-width: 1px;
}

.nav-popup-header {
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    font-weight: 500;
}

.nav-popup-body ul {
    list-style-type: none;
    padding: 0;
}

.nav-popup-body li a {
    display: block;
    padding: 15px 20px 15px 20px;
    color: inherit;
}

.nav-popup-body a:focus,
.nav-popup-body a:hover {
    background: #f9f9f9;
    text-decoration: none;
}

.nav-popup-body i {
    display: block;
    float: left;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
    margin-right: 24px;
    color: #fff;
    margin-top: 4px;
    background: #63a8ed;
}

.nav-popup-body strong {
    font-size: 16px;
    display: block;
}

.nav-popup-body em {
    font-size: 14px;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 0;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 0;
    }
    #wrapper.active {
        padding-left: 0;
    }
    #wrapper nav {
        padding-left: 10px;
    }
    #wrapper.active nav {
        padding-left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        margin-left: -250px;
        transition: all .4s ease 0s;
    }
    .sidebar-nav li a.active,
    .sidebar-nav li a:hover {
        width: 250px;
    }
    #sidebar-menu > .sidebar-brand {
        width: 250px;
    }
    .navbar-nav {
        text-align: right;
        background: #fff;
        margin: 0;
    }
    .nav > li {
        display: inline-block;
    }
    .navbar-default .navbar-collapse {
        margin: 0 -25px;
    }
    .nav-popup {
        top: 145px;
    }
}

.login-container {
    height: 100%;
    min-height: 100vh;
    background: #283339;
    background: rgba(56,74,84,1);
    background: -moz-linear-gradient(-45deg, rgba(56,74,84,1) 0%, rgba(40,51,57,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(56,74,84,1) 0%, rgba(40,51,57,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(56,74,84,1) 0%, rgba(40,51,57,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(56,74,84,1) 0%, rgba(40,51,57,1) 100%);
    background: linear-gradient(135deg, rgba(56,74,84,1) 0%, rgba(40,51,57,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384a54', endColorstr='#283339', GradientType=1 );
}

.register-card,
.login-card {
    position: relative;
    text-align: center;;
    width: 100%;
    min-width: 300px;
    max-width: 550px;
    margin: 50px auto 50px auto;
    border-radius: 4px;
    background: none;
    color: #fff;
}

.register-card h1,
.login-card h1 {
    position: relative;
    margin: 0 0 35px;
    padding: 10px 0;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.register-card h3,
.login-card h3 {
    color: #fff;
    font-weight: 300;
}

.register-card img,
.login-card img {
    width: 30%;
    margin: 0 auto;
}

.login-form {
    width: 100%;
    text-align: center;
    padding: 15px;
}


.btn-submit {
    width: 65%;
    margin-top: 35px;
    background: #63a8ed;
    border: 1px solid #4c81b7;
    color: #fff;
    height: 45px;
}

.btn-submit:hover {
    background: #4e86bd;
    color: #fff;
}

.input-container {
    position: relative;
    margin-bottom: 30px;
}

input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 45px;
    border: 0;
    color: #63a8ed;
    font-size: 24px;
    font-weight: 400;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    color: #b9b9b9;
    font-size: 20px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

input:focus ~ label {
    color: #63a8ed;
    -webkit-transform: translate(-12%, -60%) scale(0.75);
    transform: translate(-12%, -60%) scale(0.75);
}

input:valid ~ label {
    color: #63a8ed;
    -webkit-transform: translate(-12%, -60%) scale(0.75);
    transform: translate(-12%, -60%) scale(0.75);
}

input:focus ~ .login-bar:before,
input:focus ~ .login-bar:after {
    width: 50%;
}

.login-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #b9b9b9;
    width: 100%;
    height: 1px;
}

.login-bar:before, .login-bar:after {
    content: '';
    position: absolute;
    background: #63a8ed;
    width: 0;
    height: 2px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

.login-bar:before {
    left: 50%;
}

.login-bar:after {
    right: 50%;
}

.input-half {
    width: 48%;
    float: left;
}

.input-half + .input-half {
    float: right;
}

#last-name {
    right: 0;
}

#register-form  select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 5px 7px;
    font-size: 20px;
    color: #b9b9b9;
    border: none;
    display: block;
    border-bottom: 0;
    outline: 1px solid #b9b9b9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#register-form select:focus {
    outline: 1px solid #63a8ed;
}

#register-form .register-select,
#register-form .account-select{
    position: relative;
    width: 50%;
    margin: 20px auto;
    font-weight: 300;
}

#register-form .account-select {
    width: 100%;
}

#register-form .account-select select {
    width: 32%;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

#register-form .account-select:after,
#register-form .register-select:after {
    position: absolute;
    top: 15px;
    right: 2%;

    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .6em solid transparent;
    border-right: .6em solid transparent;
    border-top: 0.6em solid #b9b9b9;
    pointer-events: none;
}

#register-form #user-type:after {
    top: 105px;
}

#register-form .account-select:after {
    top: 25px;
}

#register-form #account-select:after {
    right: 68%;
}

#register-form #market-select:after {
    right: 35%;
}

.form-error h4 {
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: 500;
    color: rgba(245, 55, 55, 0.5);
}

.form-error {
    color: #f53737;
}

.form-error label,
.form-error input {
    color: #f53737 !important;
}

.form-error ul {
    list-style-type: none;
    padding: 0;
    font-weight: 600;
    font-size: 15px;
}

.register-radio {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.register-radio li{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 40%;
    height: 100px;
}
.register-radio li:first-of-type {
    margin-left: 20%;
}

.register-radio li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.register-radio li label{
    display: block;
    position: absolute;
    font-weight: 300;
    font-size: 24px;
    color: #b9b9b9;
    height: 100%;
    margin-top: 50px;
    width: 100%;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.register-radio li:hover label{
    color: #FFFFFF;
}

.register-radio li .check{
    display: block;
    position: absolute;
    border: 2px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 16px;
    left: 25px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.register-radio li:hover .check {
    border: 2px solid #FFFFFF;
}

.register-radio li .check:before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 2px solid #63a8ed;
}

input[type=radio]:checked ~ .check:before{
    background: #63a8ed;
}

input[type=radio]:checked ~ label{
    color: #63a8ed;
}

.create-account {
    margin-top: 15px;
}

@media (max-width:767px) {
    body {
        overflow-x: hidden;
    }
    .login-form {
        width: 100%;
    }
    .login-container {
        min-height: 110vh
    }
    #register-form  .register-select {
        width: 100%;
    }
    .input-half {
        width: 100%;
    }
    #register-form .account-select select {
        width: 100%;
    }
    .register-radio li label {
            left: 20px;
    }
    .register-radio li:first-of-type {
        margin-left: 14%;
    }
    #register-form #account-select:after {
        display: none;
    }
    #register-form #market-select:after {
        right: 2%;
        top: 83px;
    }
    #register-form #audience-select:after {
        right: 2%;
        top: 143px;
    }
}
